<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>Sutdent Name</th>
            <th>Student Age</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{x.name}}</td>
            <td>{{x.age}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'getdata' %}"><button>Add Student</button></a>
</body>
</html>